<div>
    <form>
        <h2>Registrarse</h2>
        
        
        <div class="card flex justify-content-center">
            <input pInputText pKeyFilter="int" placeholder="Primer Nombre" [(ngModel)]="value1" />
            <input pInputText pKeyFilter="int" placeholder="Segundo Nombre" [(ngModel)]="value1" />
            <input pInputText pKeyFilter="int" placeholder="Primer Apellido" [(ngModel)]="value1" />
            <input pInputText pKeyFilter="int" placeholder="Segundo Apellido" [(ngModel)]="value1" />
            <input pInputText pKeyFilter="int" placeholder="identificación" [(ngModel)]="value1" />
            <input pInputText pKeyFilter="int" placeholder="Correo" [(ngModel)]="value1" />
        </div>
        
       
        <div class="card flex justify-content-center">
            <div class="flex flex-column gap-3">
                <div *ngFor="let category of categories" class="field-checkbox">
                    <p-radioButton [inputId]="category.key" name="category" [value]="category" [(ngModel)]="selectedCategory"></p-radioButton>
                    <label [for]="category.key" class="ml-2">{{ category.name }}</label>
                </div>
            </div>
        </div>  
       
        
        <div class="card flex justify-content-center">
            <p-password [(ngModel)]="value" [toggleMask]="true"></p-password>
        </div>
       
        <div class="card flex flex-wrap gap-3 justify-content-center">
            <p-button label="Registrar"></p-button>
            
        </div>
        
       


    </form>
</div>
