<body>
    <header>
        <h1>Hoteles</h1>
    </header>
    <main>
        <section class="ciudad">
            <h2>Santa Marta</h2>
            <table>
                <tr>
                    <td><img src="/assets/img/hilton.jpg" alt="Hilton Garden Inn Santa Marta" class="hotel-img"></td>
                    <td>
                        <h3>Hilton Garden Inn Santa Marta</h3>
                        <ul>
                            <li><b>Categoría:</b> 5 estrellas</li>
                            <li><b>Dirección:</b> Carrera 1 #24-17, Santa Marta</li>
                            <li><b>Teléfono:</b> +57 5 4362200</li>
                            <li><b>Fecha de construcción:</b> 2016</li>
                            <li><b>Descripción:</b> El Hilton Garden Inn Santa Marta está ubicado en la zona de Bello Horizonte
                                de Santa Marta, a solo 2 km del aeropuerto internacional Simón Bolívar. Ofrece piscina
                                al aire libre y centro de fitness.</li>
                            <li><b>Tipos de habitaciones:</b>
                                <ul>
                                    <li>Habitación Doble Deluxe</li>
                                    <li>Habitación Doble Superior</li>
                                </ul>
                            </li>
                            <li><b>Precios:</b>
                                <ul>
                                    <li>Habitación Doble Deluxe: $350.000 por noche</li>
                                    <li>Habitación Doble Superior: $450.000 por noche</li>
                                </ul>
                            </li>
                            <li><button class="reservar">Reservar ahora</button></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><img src="assets/img/z.png" alt="Zuana Beach Resort" class="hotel-img"></td>
                    <td>
                        <h3>Zuana Beach Resort</h3>
                        <ul>
                            <li><b>Categoría:</b> 5 estrellas</li>
                            <li><b>Dirección:</b> Km 14 Vía Ciénaga, Santa Marta</li>
                            <li><b>Teléfono:</b> +57 5 4310000</li>
                            <li><b>Fecha de construcción:</b> 2007</li>
                            <li><b>Descripción:</b> El Zuana Beach Resort cuenta con una ubicación privilegiada en la costa
                                caribeña de Colombia, rodeado de playas de arena blanca y exuberante vegetación. Ofrece
                                una gran variedad de instalaciones de lujo y un ambiente relajado y acogedor.</li>
                            <li><b>Tipos de habitaciones:</b>
                                <ul>
                                    <li>Habitación Superior</li>
                                    <li>Suite Junior</li>
                                </ul>
                            </li>
                            <li><b>Precios:</b>
                                <ul>
                                    <li>Habitación Superior: $550.000 por noche</li>
                                    <li>Suite Junior: $750.000 por noche</li>
                                </ul>
                            </li>

                            <li><button class="reservar">Reservar ahora</button></li>
                        </ul>
                    </td>
                </tr>
            </table>
        </section>
        <section class="ciudad">
            <h2 class="tit">Cartagena</h2>
            <table>
                <tr>
                    <td><img src="assets/img/ra.jpg" alt="Radisson Cartagena Ocean Pavillion Hotel" class="hotel-img"></td>
                    <td>
                        <h3>Radisson Cartagena Ocean Pavillion Hotel</h3>
                        <ul>
                            <li><b>Categoría:</b> 4 estrellas</li>
                            <li><b>Dirección:</b> Carrera 9 No. 22-850, La Boquilla, Cartagena</li>
                            <li><b>Teléfono:</b> +57 5 6565255</li>
                            <li><b>Fecha de construcción:</b> 2018</li>
                            <li><b>Descripción:</b>El Hilton Cartagena es un hotel de playa ubicado en la zona de El Laguito, a
                                solo 10 minutos en coche del centro histórico de Cartagena. Ofrece una amplia variedad
                                de servicios y comodidades, así como una ubicación privilegiada frente al mar Caribe.
                            </li>
                            <li><b>Tipos de habitaciones:</b>
                                <ul>
                                    <li>Habitación Doble Deluxe</li>
                                    <li>Habitación Doble Superior</li>
                                </ul>
                            </li>
                            <li><b>Precios:</b>
                                <ul>
                                    <li>Habitación Doble Deluxe: $300.000 por noche</li>
                                    <li>Habitación Doble Superior: $450.000 por noche</li>
                                </ul>
                            </li>
                            <li><button class="reservar">Reservar ahora</button></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><img src="assets/img/hi.jpg" alt="Hilton Cartagena" class="hotel-img"></td>
                    <td>
                        <h3>Hilton Cartagena</h3>
                        <ul>
                            <li><b>Categoría:</b> 5 estrellas</li>
                            <li><b>Dirección:</b> Avenida Almirante Brion, El Laguito, Cartagena</li>
                            <li><b>Teléfono:</b> +57 56650660</li>
                            <li><b>Fecha de construcción:</b> 1980</li>
                            <li><b>Descripción:</b>El Hilton Cartagena es un hotel de playa ubicado en la zona de El Laguito, a
                                solo 10 minutos en coche del centro histórico de Cartagena. Ofrece una amplia variedad
                                de servicios y comodidades, así como una ubicación privilegiada frente al mar Caribe.
                            </li>
                            <li><b>Tipos de habitaciones:</b>
                                <ul>
                                    <li>Habitación Superior</li>
                                    <li>Suite Junior</li>
                                </ul>
                            </li>
                            <li><b></b>Precios:
                                <ul>
                                    <li>Habitación Superior: $550.000 por noche</li>
                                    <li>Suite Junior: $750.000 por noche</li>
                                </ul>
                            </li>

                            <li><button class="reservar">Reservar ahora</button></li>
                        </ul>
                    </td>

                </tr>
            </table>
            <section class="ciudad">
                <h2>Cali</h2>
                <table>
                    <tr>
                        <td><img src="assets/img/on.png" alt="Radisson Cartagena Ocean Pavillion Hotel" class="hotel-img">
                        </td>
                        <td>
                            <h3>El Peñon</h3>
                            <ul>
                                <li><b>Categoría:</b> 4 estrellas</li>
                                <li><b>Dirección:</b> Carrera 13 No. 25 Cali</li>
                                <li><b>Teléfono:</b> +57 5 6565255</li>
                                <li><b>Fecha de construcción: </b>2018</li>
                                <li><b>Descripción:</b>El peñon es un hotel de playa ubicado en la zona de El
                                    Laguito, a solo 10 minutos en coche del centro histórico de Cartagena. Ofrece una
                                    amplia variedad de servicios y comodidades, así como una ubicación privilegiada
                                    frente al mar Caribe.</li>
                                <li><b>Tipos de habitaciones:</b>
                                    <ul>
                                        <li>Habitación Doble Deluxe</li>
                                        <li>Habitación Doble Superior</li>
                                    </ul>
                                </li>
                                <li><b>Precios:</b>
                                    <ul>
                                        <li>Habitación Doble Deluxe: $380.000 por noche</li>
                                        <li>Habitación Doble Superior: $450.000 por noche</li>
                                    </ul>
                                </li>
                                <li><button class="reservar">Reservar ahora</button></li>
                            </ul>
                        </td>
                    </tr>
                    <td><img src="assets/img/i.png" alt="Hilton Cartagena" class="hotel-img"></td>
                    <td>
                        <h3>InterContinental</h3>
                        <ul>
                            <li><b>Categoría:</b> 5 estrellas</li>
                            <li><b>Dirección:</b> Poblado</li>
                            <li><b>Teléfono:</b> +57 566502460</li>
                            <li><b>Fecha de construcción:</b> 1950</li>
                            <li><b>Descripción:</b> es un hotel de  ubicado en la zona de El Laguito, a
                                solo 10 minutos en coche del centro histórico de cali. Ofrece una amplia variedad
                                de servicios y comodidades, así como una ubicación privilegiada frente al mar Caribe.
                            </li>
                            <li><b>Tipos de habitaciones:</b></li>
                                <ul>
                                    <li>Habitación Superior</li>
                                    <li>Suite Junior</li>
                                </ul>
                            
                            <li><b>Precios:</b>
                                <ul>
                                    <li>Habitación Superior: $550.000 por noche</li>
                                    <li>Suite Junior: $750.000 por noche</li>
                                </ul>
                            </li>

                            <li><button class="reservar">Reservar ahora</button></li>
                        </ul>
                    </td>

             
                </table>
            </section>
        </section>
    </main>
</body>
