.logo{
    width: 100%;
    height: 200px;
    background-image: url('/assets/img/home.jpg');
    background-size: cover;
    position: relative;
}
#logo_home{
    width: 1305px;
    
}
#texto{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: rgb(255, 255, 255);
    
    
}
#texto2{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: rgb(255, 255, 255);
    
    
}
body {
    margin: 0;
    padding: 0;
  }

.hotel-img {
    width: 300px;
    height: 300px;
    border-radius: 10%;
}
  
  
  
  h1 {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    text-align: center;
    text-shadow: 1px 2px #ffffff;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 50px;
    
  }
  
  .ciudad {
    margin-bottom: 50px;
    border-radius: 10px;
    
  }
  
  table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 50px;
    margin: 0 auto; 
  }
  
  td {
    padding: 10px;
    vertical-align: top;
    border: 0.006px solid #bababa;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 160px;
  }
  
  h3 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .reservar {
    background-color: #2196F3;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .reservar:hover {
    background-color: #0b7dda;
  }

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  footer a,
  footer p {
    display: block;
  }
  
  footer a {
    color: #fff;
  }
  
  footer a:hover {
    color: #ccc;
  }
  
  footer p {
    font-size: 14px;
    margin-top: 10px;
  }
  
  footer span {
    font-weight: bold;
  }
