/* Definimos la estructura de la cuadrícula */
main {
    display: grid;
    grid-template-areas:
      "header"
      "section"
      "footer";
    grid-template-rows: auto 1fr auto; /* Definimos las filas */
    min-height: 100vh; /* Altura mínima del main */
  }
  
  /* Definimos las áreas del header, section y footer */
  header {

    grid-area: header;
    background: #17addb;
    color: #ffffff;
    padding: 5px;
    
}
  
  section {
    grid-area: section;
    background-color: #f7f7f7;
    padding: 1rem;
  }
  
  footer {
    background: #000000dc;
    color: #ffffffd0;
    height: 50px; 
  }
  