main{
    
    display: grid;
    gap: 10px;
    grid-template-areas:
            "header header  header  header  header"
            "aside section section section section"
            "pie pie pie  pie  pie";
    row-gap: 0;

    column-gap: 0;
    grid-template-rows: 10% 90%;
    height: 98vh;

}

header {

    grid-area: header;
    background: #000000f1;
    color: #ffffff;
   
    
}
aside {

    background: #1783db;
    color: white;
    grid-area: aside;
   
    height: 100%; /* Agregamos una altura del 100% para que el aside tenga la misma altura que la ventana gráfica */

}
section {

    display: grid;
    grid-template-areas: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    overflow-y: auto;

}
  footer {

    grid-area: pie; 
    background: #000000dc;
    color: #ffffffd0;
    height: 50px; 


}
