main{
    
    display: grid;
    gap: 10px;
    grid-template-areas:
            "header header  header  header  header"
            "section section section section section"
            "pie pie pie  pie  pie";
    row-gap: 0;

    column-gap: 0;
    grid-template-rows: 10% 90%;
    height: 98vh;

}

header {

    grid-area: header;
    background: #46b5fff1;
    color: #ffffff;
    height: 60px ;
   
    
}

section {

    display: grid;
    grid-template-areas: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    overflow-y: auto;

}
  footer {

    grid-area: pie; 
    background: #000000dc;
    color: #ffffffd0;
    height: 50px; 


}
