<div class="logo">
    <div id="texto"><h1>ENCUENTRA TU HOTEL</h1></div>
    <div id="texto2"><h5>Tenemos alojamientos en todas las ciudades principales de colombia</h5></div>
</div>
<div class="card flex justify-content-center" style="flex-direction: column;">
    <p-card header="Title">
        <p class="m-0">
            "Somos una cadena de hoteles que se dedica a ofrecer experiencias únicas e inolvidables a nuestros clientes. Desde nuestra fundación hace más de 30 años, nos hemos comprometido a brindar la más alta calidad en hospedaje y servicios de atención al cliente.

Nuestros hoteles se encuentran en algunas de las ubicaciones más hermosas y emocionantes del mundo, y cada uno de ellos ha sido cuidadosamente diseñado y decorado para ofrecer una experiencia única y acogedora.

En nuestro equipo, contamos con expertos en la industria hotelera, que se esfuerzan por crear un ambiente cálido y confortable para cada uno de nuestros huéspedes. Desde nuestra recepción hasta nuestras habitaciones, cada detalle ha sido cuidadosamente pensado para ofrecer una experiencia única y memorable.

Nos enorgullece poder ofrecer una amplia gama de servicios y comodidades para que nuestros huéspedes puedan disfrutar al máximo su estancia. Desde restaurantes de alta calidad hasta salones para eventos, siempre estamos buscando maneras de mejorar y expandir nuestros servicios.

En resumen, en nuestra cadena de hoteles nos apasiona brindar a nuestros clientes una experiencia única e inolvidable. Nos encanta compartir nuestras ubicaciones increíbles y nuestros servicios de alta calidad con nuestros huéspedes, y esperamos poder darles la bienvenida a nuestros hoteles pronto."



!
        </p>
    </p-card>
</div>


